#########################
##### Default Rules #####
#########################

*                                                       @hashgraph/developer-advocates @hashgraph/iobuilders-hedera

#########################
#####  Core Files  ######
#########################

# NOTE: Must be placed last to ensure enforcement over all other rules

# Protection Rules for Github Configuration Files and Actions Workflows
/.github/                                               @hashgraph/platform-ci @hashgraph/release-engineering-managers @hashgraph/iobuilders-hedera
/.github/workflows/                                     @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/iobuilders-hedera

# Codacy Tool Configurations
/config/                                                @hashgraph/platform-ci @hashgraph/release-engineering-managers @hashgraph/iobuilders-hedera
.remarkrc                                               @hashgraph/platform-ci @hashgraph/release-engineering-managers @hashgraph/iobuilders-hedera

# Self-protection for root CODEOWNERS files (this file should not exist and should definitely require approval)
/CODEOWNERS                                             @hashgraph/release-engineering-managers

# Protect the repository root files
/README.md                                              @hashgraph/platform-ci @hashgraph/release-engineering-managers @hashgraph/iobuilders-hedera
**/LICENSE                                              @hashgraph/release-engineering-managers

# CodeCov configuration
**/codecov.yml                                          @hashgraph/platform-ci @hashgraph/release-engineering-managers @hashgraph/iobuilders-hedera

# Git Ignore definitions
**/.gitignore                                           @hashgraph/platform-ci @hashgraph/release-engineering-managers @hashgraph/iobuilders-hedera
**/.gitignore.*                                         @hashgraph/platform-ci @hashgraph/release-engineering-managers @hashgraph/iobuilders-hedera