# This is a sample .env file for use to execute tests in local.
# Duplicate this file as .env in the root of the project
# and update the environment variables to match your
# desired config
#
# See the README for full descriptions of each of the
# available configurations.

# Hedera network in which tests will be executed, for local node, specify "local"
HEDERA_NETWORK=testnet

# Operator account identifier
OPERATOR_ID=

# Operator account private key
OPERATOR_KEY=

# Name of the token
TOKEN_NAME=

# Symbol of the token
TOKEN_SYMBOL=

# Number of decimals of the token
TOKEN_DECIMALS=
