# Environment files
.env

# Github Actions
.github/.secrets*

# Dependency directories
node_modules/
.npm/

# Lock files
# package-lock.json

# Logs
logs/
*.log
npm-debug.log*

# Coverage reports
coverage/

# Transpiled files
./build/

# IDE configurations
.vscode/
!.vscode/tasks.js
.idea/

# Linting
.eslintcache

# Miscellaneous
.DS_Store

# Old files
.old/

# History
.history/
