# Environment files
.env

# Github Actions
.github/.secrets*

# Dependency directories
node_modules/
.npm/

# Lock files
# package-lock.json

# Logs
logs/
*.log
npm-debug.log*

# Coverage reports
coverage/

# Transpiled files
./build/

# IDE configurations
.vscode/
!.vscode/tasks.js
.idea/

# Linting
.eslintcache

# Miscellaneous
.DS_Store

# Docusaurus (docs)
.docusaurus
.cache-loader

# Local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Yarn logs
yarn-debug.log*
yarn-error.log*

# Old files
.old/

# History
.history/

# Gas report
gas-report.txt
