# * Docker
COMPOSE_PROJECT_NAME=multisignature-backend-project
CONTAINER_BACK_NAME=backend
CONTAINER_DB_NAME=db
DOCKER_NETWORK_NAME=multisignature-backend-network

# * API | Server | Backend
SERVER_HOST=${CONTAINER_BACK_NAME:-localhost}
SERVER_PORT=3000

# * Database
DB_HOST=${CONTAINER_DB_NAME:-localhost}
DB_PORT=5432
DB_USER=
DB_PASSWORD=
DB_NAME=postgres

# * HTTP Request
ORIGIN=localhost,stablecoin.com

# * Log configuration
MAX_LOG_FILESIZE=20m
LOG_LEVEL=info
FILE_NAME=logs/log-%DATE%.log
DATE_PATTERN=YYYY-MM-DD
