# Logs
logs
*.log
npm-debug.log*
package-lock.json

# Dependencies
node_modules/

# Coverage
coverage

# Transpiled files
build

# VS Code
.vscode
!.vscode/tasks.js

# JetBrains IDEs
.idea/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Misc
.DS_Store

# Old files
.old

# history
.history

# Compile contract
hardhat.config.ts

node_modules
.env
coverage
coverage.json
typechain
typechain-types

#Hardhat files
cache
artifacts


node_modules
.env
coverage
coverage.json
typechain
typechain-types

#Hardhat files
cache
artifacts

