# Dependency directories
node_modules/
.npm/

# Transpiled and compiled files
build/
artifacts/
typechain*
typechain-types/

# Logs
logs/
*.log
npm-debug.log*

# Coverage directories and files
coverage/
coverage.json

# IDE and editor directories
.vscode/
!.vscode/tasks.js
.idea/

# Optional cache files
.eslintcache

# Miscellaneous
.DS_Store
.old
.history
.env

# Hardhat files
cache/

# Documentation
docs/

# Slither
Slither/
