# Dependency directories
node_modules/

# Build and transpiled files
build/
coverage/

# Logs
logs/
*.log
npm-debug.log*

# IDEs and editors
.vscode/
!.vscode/tasks.js
.idea/

# Optional directories and files
.npm/
.eslintcache
.DS_Store

# Configuration files
.hsca-config*.yaml
hsca-config.yaml

# Miscellaneous
report.json
./docs/
