defaultNetwork: <mainnet-testnet-previewnet>
networks:
  - name: mainnet
    # Consensus nodes are needed if usign Stablecoin Backend (Multi-signature)
    consensusNodes:
      - url: <Consensus node URL>
        nodeId: <Node Id>
    chainId: <Network chain Id>
  - name: previewnet
    consensusNodes:
      - url: <Consensus node URL>
        nodeId: <Node Id>
    chainId: <Network chain Id>
  - name: testnet
    consensusNodes:
      # https://docs.hedera.com/hedera/networks/testnet/testnet-nodes
      - url: <Consensus node URL>
        nodeId: <Node Id>
    chainId: <Network chain Id>
accounts:
  - accountId: <Hedera Id>
    # SELF-CUSTODIAL => Account with private key
    # FIREBLOCKS and DFNS => Custodial accounts
    # MULTI-SIGNATURE => Multi-signature account using Stablecoin Backend
    type: <SELF-CUSTODIAL|FIREBLOCKS|DFNS|MULTI-SIGNATURE>
    network: <mainnet-testnet-previewnet>
    alias: <Account Alias>
    importedTokens:
      - id: <Token Id>
        roles:
          - <Role Hash>
          - <Role Hash>
        symbol: <Token symbol>
    selfCustodial:
      privateKey:
        key: <Account's private key>
        type: <ED25519-ECDSA>
    custodial:
      fireblocks:
        apiSecretKeyPath: <Fireblocks API Secret Key Path>
        apiKey: <Fireblocks API Key>
        baseUrl: <Fireblocks API Base URL>
        assetId: <Fireblocks Asset Id>
        vaultAccountId: <Fireblocks Vault Account Id>
        hederaAccountPublicKey: <Fireblocks Hedera Account Public Key>
      dfns:
        authorizationToken: <DFNS Authorization Token>
        credentialId: <DFNS Credential Id>
        privateKeyPath: <DFNS Private Key>
        appOrigin: <DFNS App Origin>
        appId: <DFNS App Id>
        testUrl: <DFNS Test URL>
        walletId: <DFNS Wallet Id>
        hederaAccountPublicKey: <DFNS Hedera Account Public Key>
mirrors:
  - name: <Mirror Node Name>
    network: <mainnet-testnet-previewnet>
    baseUrl: <Mirror Node URL>
    selected: <false-true>
    apiKey: <API Key>
    headerName: <HTTP hader name>
rpcs:
  - name: <RPC Node Name>
    network: <mainnet-testnet-previewnet>
    baseUrl: <RPC Node URL>
    selected: <false-true>
    apiKey: <API Key>
    headerName: <HTTP hader name>
backend:
  endpoint: <Backend URL>
logs:
  path: './logs'
  level: 'ERROR'
factories:
  - id: <Factory contract Hedera Id>
    network: <mainnet-testnet-previewnet>
