name: Test_CLI

on:
  pull_request:
    paths:
      - "cli/src/**"
      - "cli/test/**"
      - "package*.json"
      - "cli/tsconfig*.json"
      - "cli/jest.config.js"
  push:
    branches:
      - main
    paths:
      - "cli/src/**"
      - "cli/test/**"
      - "package*.json"
      - "cli/tsconfig*.json"
      - "cli/jest.config.js"

# env:
# NODE_VERSION: "20.17.0" # Fixed version for better stability

permissions:
  contents: read

jobs:
  main:
    runs-on: token-studio-linux-medium
    container:
      image: node:20.17.0-alpine3.20 # Using alpine for a smaller image
    permissions:
      contents: read

    steps:
      # * Initial steps
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 #v2.13.2
        with:
          egress-policy: audit

      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Initial steps
        uses: ./.github/actions/initial-steps
        with:
          deps-contracts-install: "true"

      # * Prepare other modules
      - name: Install and build Contracts, SDK and CLI
        uses: ./.github/actions/install-and-build
        with:
          module: "cli"

      # * Specific steps for the CLI
      - name: Run tests CLI
        run: npm run test:ci --workspace=cli

      - name: Clear Cache
        run: npm run clear-cache --workspace=cli
