name: Test_SDK

on:
  pull_request:
    paths:
      - "sdk/src/**"
      - "sdk/test/**"
      - "sdk/scripts/**"
      - "package*.json"
      - "sdk/tsconfig*.json"
      - "sdk/jest.config.js"
  push:
    branches:
      - main
    paths:
      - "sdk/src/**"
      - "sdk/test/**"
      - "sdk/scripts/**"
      - "package*.json"
      - "sdk/tsconfig*.json"
      - "sdk/jest.config.js"
env:
  RPC_NODE_BASE_URL: "https://296.rpc.thirdweb.com"

permissions:
  contents: read

jobs:
  main:
    runs-on: token-studio-linux-medium
    container:
      image: node:20.17.0-alpine3.20 # Using alpine for a smaller image
    permissions:
      contents: read

    steps:
      # * Initial steps
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Initial steps
        uses: ./.github/actions/initial-steps
        with:
          deps-contracts-install: "true"
          deps-create-env-file: "true"

      - name: Create .env file
        uses: ./.github/actions/create-env-file
        with:
          api-access-token-1: ${{ secrets.API_ACCESS_TOKEN_1 }}
          api-access-token-2: ${{ secrets.API_ACCESS_TOKEN_2 }}
          module: "sdk"

      # * Prepare other modules
      - name: Install and build Contracts and SDK
        uses: ./.github/actions/install-and-build
        with:
          module: "sdk"

      # * Specific steps for the SDK

      - name: Run SDK Tests
        run: npm run test:ci --workspace=sdk

      - name: Clear Cache
        run: npm run clear-cache --workspace=sdk
