name: Test_Backend

on:
  pull_request:
    paths:
      - "backend/src/**"
      - "backend/test/**"
      - "backend/tsconfig*.json"
      - "package*.json"
  push:
    branches:
      - main
    paths:
      - "backend/src/**"
      - "backend/test/**"
      - "backend/tsconfig*.json"
      - "package*.json"
# env:
# NODE_VERSION: "20.17.0" # Fixed version for better stability

permissions:
  contents: read

jobs:
  main:
    runs-on: token-studio-linux-medium
    container:
      image: node:20.17.0-alpine3.20 # Using alpine for a smaller image
    permissions:
      contents: read

    steps:
      # * Initial steps
      - name: Harden Runner
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 #v2.14.1
        with:
          egress-policy: audit

      - name: Checkout repository
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0

      - name: Initial steps
        uses: ./.github/actions/initial-steps

      # * Specific steps for the Backend
      - name: Install dependencies
        run: npm ci

      - name: Build Backend
        run: npm run build --workspace=backend

      - name: Run Backend Tests
        run: npm run test:ci --workspace=backend

      - name: Clear Cache
        run: npm run clear-cache --workspace=backend
