name: Test_Backend

on:
  pull_request:
    paths:
      - "backend/src/**"
      - "backend/test/**"
      - "backend/tsconfig*.json"
      - "package*.json"
  push:
    branches:
      - main
    paths:
      - "backend/src/**"
      - "backend/test/**"
      - "backend/tsconfig*.json"
      - "package*.json"
# env:
# NODE_VERSION: "20.17.0" # Fixed version for better stability

permissions:
  contents: read

jobs:
  main:
    runs-on: token-studio-linux-medium
    container:
      image: node:20.17.0-alpine3.20 # Using alpine for a smaller image
    permissions:
      contents: read

    steps:
      # * Initial steps
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 #v2.13.2
        with:
          egress-policy: audit

      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Initial steps
        uses: ./.github/actions/initial-steps

      # * Specific steps for the Backend
      - name: Install dependencies
        run: npm ci

      - name: Build Backend
        run: npm run build --workspace=backend

      - name: Run Backend Tests
        run: npm run test:ci --workspace=backend

      - name: Clear Cache
        run: npm run clear-cache --workspace=backend
