name: Test_Web

on:
  pull_request:
    paths:
      - "web/src/**"
      - "package*.json"
      - "web/tsconfig*.json"
  push:
    branches:
      - main
    paths:
      - "web/src/**"
      - "package*.json"
      - "web/tsconfig*.json"
  # env:
  # NODE_VERSION: "20.17.0" # Fixed version for better stability
jobs:
  main:
    runs-on: token-studio-linux-medium
    container:
      image: node:20.17.0-alpine3.20 # Using alpine for a smaller image
    permissions:
      contents: read

    steps:
      # * Initial steps
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 #v2.13.2
        with:
          egress-policy: audit

      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Initial steps
        uses: ./.github/actions/initial-steps
        with:
          deps-contracts-install: "true"

      # * Prepare other modules
      - name: Install and build Contracts, SDK and Web
        uses: ./.github/actions/install-and-build
        with:
          module: "web"

      # * Specific steps for the Web
      - name: Run tests Web
        run: npm run test:ci --workspace=web

      - name: Clear Cache
        run: npm run clear:cache --workspace=web
