# Log level for the application. The default value is ERROR.
# Acceptable values are ERROR, WARN, INFO, HTTP, VERBOSE, DEBUG and SILLY in order of priority (highest to lowest).
REACT_APP_LOG_LEVEL=ERROR

# JSON array with a factory id in Hedera format `0.0.XXXXX` per environment.
# See deployed addresses at: https://hashgraph.github.io/stablecoin-studio/references/deployed-addresses
REACT_APP_FACTORIES='[{"Environment":"testnet","STABLE_COIN_FACTORY_ADDRESS":""}]'
REACT_APP_RESOLVERS='[{"Environment":"testnet","STABLE_COIN_RESOLVER_ADDRESS":""}]'

# Mirror node service for Hedera network. If the service doesn't require an API key, leave API_KEY and HEADER empty.
# See: https://docs.hedera.com/hedera/core-concepts/mirror-nodes
REACT_APP_MIRROR_NODE='[{"Environment":"testnet","BASE_URL":"", "API_KEY": "", "HEADER": ""}]'

# RPC node service for Hedera network. If the service doesn't require an API key, leave API_KEY and HEADER empty.
# See: https://docs.hedera.com/hedera/core-concepts/smart-contracts/json-rpc-relay
REACT_APP_RPC_NODE='[{"Environment":"testnet","BASE_URL":"", "API_KEY": "", "HEADER": ""}]'

# Source maps and UI config
GENERATE_SOURCEMAP=false
REACT_APP_SHOW_CONFIG=true

# * Backend (optional, for multi-signature flows)
REACT_APP_BACKEND_URL=''

# * Consensus nodes configuration.
# See: https://docs.hedera.com/hedera/networks/mainnet/mainnet-nodes
REACT_APP_CONSENSUS_NODES='[{"Environment":"testnet","CONSENSUS_NODES":[{"ID":"0.0.3","ADDRESS":"34.94.106.61:50211"},{"ID":"","ADDRESS":""},{"ID":"","ADDRESS":""}]}]'

# * Hedera Wallet Connect (optional)
REACT_APP_PROJECT_ID='' #! Create a project in Wallet Connect Cloud
REACT_APP_DAPP_NAME='Hedera Stablecoin'
REACT_APP_DAPP_DESCRIPTION='StableCoin is a decentralized stablecoin platform built on Hedera Hashgraph.'
REACT_APP_DAPP_URL='https://wc.hgraph.app/'
REACT_APP_DAPP_ICONS='["https://portal.hedera.com/assets/hedera-logo-black-a0b1bd4f.svg","https://stablecoinstudio.com/static/media/hedera-hbar-logo.4fd73fb360de0fc15d378e0c3ebe6c80.svg"]'
